@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Kanit;
  src: url("./assets/fonts/Kanit-Regular.ttf");
}

@import "tailwindcss";

@theme{
  --font-poppins: Poppins, Kanit
}
/* globals.css หรือ index.css */

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.animate-fade-in-out {
  animation: fade-in-out 6s ease-in-out forwards;
}
